{% extends "master.html" %}
{% block content %}

<div class="test">
  <div class="message_main" id="message_main">
    {% for message in messages %}
    {% if request.user == message.author %}
    <div class="message_div_author">
      <div class="author_message" id="message_author">
        <span class="date">{{ message.created_at }}</span>
        {{ message.text }}
      </div>
    </div>
    {% endif %}

    {% if not request.user == message.author %}
    <div class="message_div_client">
      <div class="client_message" id="message_client">
        <span class="date">{{ message.created_at }}</span>
        {{ message.text }}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="create_message">
  <form onsubmit="sendMessage(); return false " method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="token">
    <input type="hidden" name="chat_id" value="{{ chat.chat_id }}" id="chat_id">
    <input type="hidden" name="create" value="{{ message.created_at }}" id="create">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" name="text_message" type="text" id="message" maxlength="150">
      <label class="mdl-textfield__label" for="sample3">Text...</label>
    </div>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Senden
    </button>
  </form>
  <a style="font-size: 20px;" href="/users">zurück</a>
</div>



{% endblock %}