{% extends "master.html" %}
{% block content %}

<div class="content_login">
<h3>Regestrieren</h3>

{% if pw_not_match %}

Passwort stimmt nicht überein.

{% endif %}

{% if user_already_exist %}

Benutzername bereits vergeben.

{% endif %}

<form class="input_div" action="/register/" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" name="user_name" type="text" id="sample3">
      <label class="mdl-textfield__label" for="sample3">Benutzername</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" name="password1" type="password" id="sample3">
      <label class="mdl-textfield__label" for="sample3">Passwort</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="password2" type="password">
        <label class="mdl-textfield__label" for="sample3">Passwort wiederholen</label>
      </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Senden
    </button>
  </form>
  <a style="font-size: 20px;" href="/login">zurück</a>
</div>



{% endblock %}

